<!DOCTYPE html>
<html>
<head>
	<title>Pending Booking</title>
</head>
<body>
	<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Student Name</th>
      <th>Student Number</th>
      <th>Contact Number</th>
    </tr>
  </thead>
  	{% for results in res %}
		<tbody>
	    <tr>
	      <th scope="row">1</th>
	      <td>{{ results.fname }}</td>
	      <td>{{ results.studentno }}</td>
	      <td>{{ results.contactno }}</td>
	    </tr>
	  </tbody>
	{% endfor%}
  
</table>




</body>
</html>