<!-- <!doctype html> -->
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Admin</title>
        <link rel="stylesheet" href="css/signin-style.css">
    </head>

    <body>
        <div id="margin">
            
            <div id="center">
                <div id="wdb">
                    <h1>Welcome to Admin!</h1>
                </div>
                <hr><br>

                <form action="/signin" method="post">
                    <div id="form-div">
                        <h2>Sign In</h2>

                        <div>
                            <div>
                                <input type="text" name="email" id="email" placeholder="Email" required>
                            </div>
                            <div>
                                <input type="password" name="password" id="password" placeholder="Password" required>
                            </div>

                            <button class="button-1">Sign In</button><br>
                            <div id="form-div"">
                                <label>
                                    <input type="checkbox" name="remember" value="yes">
                                    Remember me?
                                </label>
                                <br><br>
                            </div>
                        </div>
                    </div>                
                </form>
            </div>
        </div>
    </body>

</html>