* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

html {
  	height: 100%;
}
body {
  	padding: 0;
  	margin: 0;
  	font-family: 'Noto Sans', sans-serif;
  	background: #148dcd;
  	background-size: cover;
  	color: #fff;
}

.main {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-color: rgba(100,100,255,0);
	margin: 10px 0;
	padding: 10px 0;
}
.container > .navigation {
	display: flex;
	align-items: center;
	margin-top: 0px;
	margin-bottom: 0px;
	justify-content: center;
}
.navigation {
	width: 100%; /* Full width */
    padding: 12px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}
.container > .navigation > h1{
	margin-right: 20px;
}

.container > .main > h1{
	display: flex;
	align-items: center;
	margin-top: 50px;
	margin-bottom: 0px;
	justify-content: center;
}
.container > .main > footer{
	display: flex;
	align-items: center;
	margin-top: 300px;
	margin-bottom: 0px;
	justify-content: center;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
	/*font-size:10px;*/
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
}

.container2 > form > .sbutton {
	width: 100px;
}

.container2 > h1 {
	text-align: center;
	font-family: "Coda";
	font-style: normal;
	font-weight: normal;
	font-size: 38px;
	line-height: 100%;
	color: #2B2A2A;
	opacity: 1.00;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.55);
}

.container2 > h2 {
	text-align: center;
	font-family: "Coda";
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	line-height: 100%;
	color: white;
	opacity: 1.00;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.55);
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #45a049;
}

.container2 > form {
	display: flex;
	flex-direction: column;
	width: 600px;
	justify-content: center;
	align-items: center;
}

.container2 > form > #labels {
	display: flex;
	flex-direction: column;
	width: 600px;
	justify-content: center;
	color:black;
}

/* Add a background color and some padding around the form */
.container2 {
	margin-top: 30px;
    border-radius: 5px;
    background-color: #9B8AF7;
    padding: 20px;
}